[submodule "Mastering-Object-Oriented-Python-Second-Edition"]
	path = Mastering-Object-Oriented-Python-Second-Edition
	url = https://github.com/hundong2/Mastering-Object-Oriented-Python-Second-Edition.git
